<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CrossPayContext" connectionString="Data Source="/>
		<add name="MongoConnectionString" connectionString="mongodb:$(mongourl)"/>
	</connectionStrings>

	<appSettings>
		<add key="crossborderPayurl" value="$(url)" />
		<add key="api-key" value="" />
		<add key="ElasticSearchUrl" value="" />
		<add key="ElasticSearchPassword" value="" />
	</appSettings>
</configuration>